@font-face {
  font-family: 'Typo Grotesk Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Typo Grotesk Regular'),
    url('./fonts/typo-grotesk/Typo\ Grotesk\ Demo.woff') format('woff');
}

@font-face {
  font-family: 'Typo Grotesk Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Typo Grotesk Italic'),
    url('./fonts/typo-grotesk/Typo\ Grotesk\ Italic\ Demo.woff') format('woff');
}

@font-face {
  font-family: 'Typo Grotesk Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Typo Grotesk Bold'),
    url('./fonts/typo-grotesk/Typo\ Grotesk\ Bold\ Demo.woff') format('woff');
}

@font-face {
  font-family: 'Typo Grotesk Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Typo Grotesk Bold Italic'),
    url('./fonts/typo-grotesk/Typo\ Grotesk\ Bold\ Italic\ Demo.woff')
      format('woff');
}

@font-face {
  font-family: 'Typo Grotesk Thin Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Typo Grotesk Thin Regular'),
    url('./fonts/typo-grotesk/Typo\ Grotesk\ Thin\ Demo.woff') format('woff');
}

@font-face {
  font-family: 'Typo Grotesk Black Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Typo Grotesk Black Regular'),
    url('./fonts/typo-grotesk/Typo\ Grotesk\ Black\ Demo.woff') format('woff');
}

@font-face {
  font-family: 'Typo Grotesk Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Typo Grotesk Thin Italic'),
    url('./fonts/typo-grotesk/Typo\ Grotesk\ Thin\ Italic\ Demo.woff')
      format('woff');
}

@font-face {
  font-family: 'Typo Grotesk Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Typo Grotesk Black Italic'),
    url('./fonts/typo-grotesk/Typo\ Grotesk\ Black\ Italic\ Demo.woff')
      format('woff');
}
