.play__now__btn {
  background: rgb(255, 238, 222);
  background: linear-gradient(
    114deg,
    rgba(255, 238, 222, 1) 0%,
    rgba(251, 245, 247, 1) 51%,
    rgba(249, 243, 247, 1) 54%,
    rgba(230, 213, 251, 1) 100%
  );
}

.visit__album__btn {
  background: rgb(247, 62, 124);
  background: linear-gradient(
    90deg,
    rgba(247, 62, 124, 1) 0%,
    rgba(165, 4, 235, 1) 100%
  );
}
